@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root{

}

/* ##################################################################*/

/* this is for phone screens only */
@media only screen and (hover: none) and (pointer: coarse) {
	.aboutme{width: 80%!important;}
	
	h1 {font-size: 54px!important;}
	
	.modal_content {width: 80%!important;}
}
	
@media only screen and (max-width: 1120px) {
	.aboutme{width: 80%!important;}
	
	.modal_content {width: 70%!important;}
	
	.modal_img_container {width: 60vw!important;}
	
	.grid-container {
	display: flex!important;
	flex-wrap: wrap!important;
	justify-content: center;
	background-color: var(--deer-sidebar);
	padding: 40px;
	gap: 20px;
	}
}
/* ################################################################## */
html, body {
	margin: 0;
	/* height: 100%; */
	font-family: 'DM Sans', sans-serif;
	background-color: var(--deer-dark);
	transition-duration: .2s;	
}
/* main {height: 100%;} */

h1, h2, h3, h4, h5, h6, p, li {
	color: var(--deer-bright);
}

h1 {
	font-size: 64px; 
	text-align: center;
	margin: 0 0 20px 0;
}

p {font-size: 24px;}

p {
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

section {background: lightgray;	}

img {user-select: none;}

iframe {border-radius: var(--radius);}

video {border-radius: var(--radius);}

.rounded {
	/* border-width: 4px; */
	border-radius: var(--radius);
	margin: 20px 0;
	border: 3px solid var(--deer-bright);
	color: var(--deer-bright);
}


/* ################################################################## */

.main-header {
	display: inline-block;
	
}

header > div {
	display: flex;
	justify-content: center;
}

/* ################################################################## */

.grid-container {
	display: grid;
	justify-content: center;
	grid-template-columns: 250px 250px 250px 250px;
	background-color: var(--deer-sidebar);
	padding: 40px;
	gap: 20px;
}


.grid-container > div { /* for the individual grid items */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: rgba(255, 255, 255, 0.8);
	height: 250px;
	width: 250px;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	position: relative;
	transition: filter .5s;
	transition: filter .5s;
	border: none;
	overflow: hidden;
	border-radius: 5px;
	
}
.grid-container > div:hover { /* for the individual grid items */
	filter: brightness(1.25);
}

.captions { /* for the captions for each image */
	position: relative;
	color: white;
	background-color: #00000065;	
	font-size: 16px;
	line-height: 50px;
	backdrop-filter: blur(18px) !important;
	/* transition: transform .5s;
	transform: translateY(50px); */
	
}
/* ################################################################## */
.item1 {
	background-image: url("../assets/small/bunny_final.jpg");
	background-size: cover;
	background-position: center;
}
.item2 {
	background-image: url("../assets/small/king.png");
	background-size: cover;
}
.item3 {
	background-image: url("../assets/small/wii remote pink.jpg");
	background-size: cover;
}
.item4 {
	background-image: url("../assets/small/forest_hl2.jpg");
	background-size: cover;
}
.item5 {
	background-image: url("../assets/deerbot_full_square.png");
	background-size: cover;
}

.item6 {
	background-image: url("../assets/small/overlay_thumb.png");
	background-size: cover;
}

.item7, .item8 {
	background-image: url("../assets/coming_soon.png");
	background-size: cover;
	cursor: default!important;
}

.grid_image {
	max-height: 200px;
	padding: 20px;
}
/* ################################################################## */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  backdrop-filter: blur(10px) !important;
}

/* Modal Content/Box */
.modal_content {
  background-color: var(--deer-dark);
  
  margin: 5vh auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #888;
  border-radius: var(--radius);
  width: 60%; /* Could be more or less, depending on screen size */
}

.modal_img_container {
	display: flex;
	justify-content: center;
	width: 50vw;
}

.modal_img {
	border-radius: var(--radius);
	max-width: 100%;
	max-height: 600px;
	margin: 0px 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 48px;
  font-weight: bold;
  text-align: right;
  user-select: none;
}

.close:hover,
.close:focus {
  color: var(--deer-pink);
  text-decoration: none;
  cursor: pointer;
}


/* ################################################################## */