@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root{
/* --deer-dark: #212232; */
--deer-dark: #181925;
--deer-pink: #E38CA3;
--deer-magenta: #A32459;
--deer-bright: #FAF9E5;
/* --deer-sidebar: #363852; */
--deer-sidebar: #222334;
--radius-m: 15px;
--radius-s: 10px;
}

::selection {
  background: #ff4c7ea6;
  color: white;
}

@keyframes unblur {
  from {filter: blur(8px);}
  to {filter: blur(0px);}
}

.deer-fade, .links { 
/* display block is there to limit where the hover works */
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: color;
}
.deer-fade:hover, .deer-fade:focus, .deer-fade:active,
.links:hover, .links:focus, .links:active {
	color: var(--deer-pink);
}
.links {
	color: var(--deer-bright);
	text-decoration: none;
}